
    <article style="text-align: center;"><img src="assets/img/actemium.png" alt="" style="max-width: 100%;"></article>
    <hr>
    <aside><p style="background:#dbe0ef;
        border-top:2px solid #aeb8de;
        border-bottom:2px solid #aeb8de;
        padding:1em 1em 1em 5em;
        text-align: center; 
        font-size: 16px; 
        margin-bottom: 8%">Notre client pour ce projet était donc la Ville De Paris. 
        Leur demande, la refonte de leur principal logiciel <br>de supervision de 
        carrefours tramways et automobiles : SURF2000 qui donna par la suite SURF3</p> </aside>

