<h1 style="font-size: 57px;
color: #101010;
font-weight: 700;
text-transform: uppercase;
text-align: center;
margin-bottom: 10px;
text-shadow: 1px 0px 1px #CCCCCC, 
0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 
1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 
2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 
3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 
4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 
5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 
8px 9px 2px rgba(206,135,194,0.85);">MON PARCOURS</h1>
<hr>
<!--body-->
<br>
<h1 style="font-size: 40px;text-align: left; margin-left: 2%;">Supinfo International University  +5</h1>
<p style="font-size: 16px;text-align: left; margin-left: 2%;" class="data">J'intègre Supinfo en 4ème année pour me spécialiser dans le développement et le management de projet - Belgium - 2018 -> 2021</p>
<br>
<h1 style="font-size: 40px;text-align: right; margin-right: 2%;">Brevet Technicien Supérieur  +2</h1>
<p style="font-size: 16px;text-align: right; margin-right: 2%;" class="data">Sciences Numériques Informatiques et Réseaux "Alternance"  -  Lycée Jules Ferry - 2017</p>
<br>
<h1 style="font-size: 40px;text-align: left; margin-left: 2%;">Baccalauréat </h1>
<p style="font-size: 16px;text-align: left; margin-left: 2%;">Sciences Techniques Informatiques du Développement Durable  -  Lycée Jacques Vaucanson - 2015</p>


